<div class="jumbotron">
    <img src="images/lambda.png"><br>
    <h1>&lambda; LMS</h1>
</div>

<div class="row marketing">
  <h4>Seed projekat za predmet <i>Tehnologije i sistemi eObrazovanja</i></h4>
  <p class="justify">
    Ova aplikacija je polazna osnova za rađenje projekta iz predmeta <i>Tehnologije i sistemi eObrazovanja</i>.
    Back end deo (REST api) je implementiran kao <i>Spring Boot</i> aplikacija.
    Front end deo je implimentiran kao <i>AngularJS</i> aplikacija.
    &lambda; LMS je razvijen sa sledećim ciljevima:
    <ol>
      <li>Da kroz dalji razvoj projekta studentima omogući savladavanje koncepata iz domena elektronski podržane nastave</li>
      <li>Da studente upozna sa savremenim stekom tehnologija za razvoj Web aplikacija</li>
      <li>Da studentima ponudi polaznu osnovu (seed projekat) za naredne projekte</li>
    </ol>
  </p>
</div>
